$red: #a21b1b;
$blue: #001CBE;
$redHover: #ffd9d9;
$blueHover: #d9deff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
